@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;font-style: normal;}

.fa {display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 20px;
color: #00a0e3;}
.fa-angle-down:before {content: "\f107";}
.fa-bars:before {content: "\f0c9";}
.fa-search:before {content: "\f002";}
.fa-commenting-o:before {content: "\f27b";}
.fa-bolt:before{content:"\f0e7";}
.fa-code-fork:before{content:"\f126";}
.fa-hashtag:before{content:"\f292";}
.fa-comment:before{content:"\f075";}
.fa-hand-lizard-o:before{content:"\f258";}
.fa-bell:before{content: "\f0f3";}
.fa-envelope:before{content: "\f003";}
.fa-user:before{content: "\f007";}
.fa-search:before{content: "\f002";}
.fa-thumbs-up:before{content: "\f087";}
.fa-thumbs-down:before{content: "\f088";}
.fa-reply:before{content: "\f112";}
.fa-share-alt:before{content: "\f1e0";}
.fa-clock-o:before{content: "\f017";}
.fa-comment:before{content: "\f075";}





/*********Universal Style Begin********/
body{margin:0; padding:0; font-family: 'Roboto', sans-serif; font-size:14px;}
header{background: #fff; padding:19px 0 10px;color:#fff;border-bottom: 1px solid #e5e5e5;}
.line{background:#002d7a; height:4px; width:100px; margin:10px 0;}
.clear{clear:both;}
.outer{width:1200px; margin:auto;}
.logo{width:30%; float:left;margin-top: -7px;}
.logo img{width:75%;}
h1,h2,h3,h4,h5,h6,ul,span,p {margin: 0; padding:0}
p {margin-top: 4px;
color: #666;
font-size: 13px;
font-weight: 400;
line-height: 21px;
letter-spacing: .6px;}
.smallbtn {background:#00a0e3 none repeat scroll 0 0;border-radius: 3px;color: #ffffff;cursor: pointer;}
.smallbtn1 {
    padding: 4px 20px 4px 17px;
	float: left;
	text-transform: uppercase;
	background: #00A0E3;
	border: none;
	color: #fff;
	cursor: pointer;
}
.smallbtn1:hover{background: hsl(206, 88%, 34%) none repeat scroll 0 0;}
input[type=text], input[type=password] {
    width: 100%;
    padding: 9px 10px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/*********Universal Style Begin********/

.login-pannel {width:61%;float: right;margin-top: 1%;}
.login-pannel ul li{}
.login-pannel ul li a{text-decoration: none;font-weight: 600;font-size: 13px;border-bottom: 1px dotted #c4c4c4;}

.home .banner{background: #666 url("../images/home.jpg") no-repeat;height: 395px;background-size: 100%;padding-top: 106px;}
.home .banner2{background: #666 url("../images/home-1.jpg") no-repeat left bottom;height: 395px;background-size: 100%;padding-top: 58px;}

.login-pannel ul li .smallbtn {padding: 10px 20px 9px 20px;float: right;text-transform: uppercase;}
.login-pannel ul li .smallbtn:hover{background: #0A5FA2;}

.home .banner h1{margin-bottom: 20px;width: 60%;font-size: 40px;}
.home .banner {line-height: 22px;}
.home .banner p{color: #000;width: 50%;font-size: 18px;margin-bottom: 20px;font-weight: 300;}

.home .product .pd-circle1 ul li h3{padding-bottom: 1%;padding-top: 4%;}
.home .product{background: #fff;height: 280px;padding: 45px 0px;}
.home .product .pd-circle1 ul,.home .blog-article .article-left ul,.home .author .author-left ul {margin: 0px; padding: 0px;}
.home .product p{width: 90%;color: #666;}
.home .product .pd-circle1 ul li{width:19%;float: left;list-style-type:none;margin-right: 64px;text-align:left;}
.home .product .pd-circle1 ul li a{color: #000;text-decoration: none;}
.home .blog-article{background: #F5F5F5;height: 530px;padding: 45px 0px;}
.home .product .pd-circle1 li i{font-size:34px;}

.home .blog-article .article-left{width: 73%;float:left;}
.home .blog-article .article-left ul li{width: 22%;float: left;list-style-type: none;margin-right: 18px;padding-bottom: 2%;}
.home .blog-article .article-left h2,.home .author .author-left h2,.home .blog-article .article-right h2{padding-bottom: 15px;}

.home .blog-article .article-left ul li h3{margin: 0px;}
.home .blog-article .article-left ul li img {width:100%;}
.home .blog-article .article-left ul li a{color: #000;text-decoration: none;}
.home .blog-article .article-right{width: 25%; float:right;}
.home .blog-article .article-right img{width: 95%;height: 380px;overflow: hidden;outline: 1px solid #ccc;outline-offset: 5px;}

.home .author{background: #FEFEFE;height: 280px;padding: 45px 0px;}
.home .author .author-left{width: 100%;float:left;}
.home .author .author-left ul li{width: 13%;float: left;list-style-type: none;margin-right: 15px;}
.home .author .author-left ul li span{font-weight: bold;font-size: 16px;}
.home .author .author-left ul li img {width:100%;}

.home .footer {border-top: 1px solid #9b9b9b;}
.home .footer .copyright-line{padding: 7px 0px 48px;}
.home .footer .copyright-line .copyright-left{float: left;width: 580px;color: #666;text-align: left;padding-top: 12px;}
.home .footer .copyright-line .copyright-right{float: right;width: 250;color: #666;font-size: 11px;	padding-top: 12px;}
.home .blog-article .article-left ul li a {color: #666;}





/*******POPUP-BOX Style Begin**********/
.pop-close-btn {font-size: 3vmin;padding: 0.75em 1.5em;background-color: #fff;
  border: 1px solid #bbb;color: #333;text-decoration: none;display: inline;border-radius: 4px;
-webkit-transition: background-color 1s ease;-moz-transition: background-color 1s ease;
  transition: background-color 1s ease;}
.pop-btn-small {padding: .75em 1em; font-size: 0.8em;}
.pop-modal-box {display: none;position: absolute;z-index: 1000;width: 98%;background: white;
  border-bottom: 1px solid #aaa;border-radius: 4px;box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);background-clip: padding-box;}
@media (min-width: 32em) {.pop-modal-box { width: 35%; }}

.pop-modal-box footer,.pop-modal-box .modal-footer{padding: 1em;border-top: 1px solid #ddd;background: rgba(0, 0, 0, 0.02);text-align: right;}
.modal-overlay{opacity: 0;filter: alpha(opacity=0);
  position: absolute;top: 0;left: 0;z-index: 900;width: 100%;height: 100%;background:#565656 !important;}
a.close {line-height: 1;font-size: 1.5em;position: absolute;top: 5%;right: 2%;text-decoration: none;color: #bbb;}
/*******POPUP-BOX Style End**********/

/********PROFILE-PAGE BEGIN*************/
li{list-style-type:none;}
.my-profile {width:50%;float: right;}
.my-profile .search-left{width:50%;float: left;}
.my-profile .search-left input[type="text"]{background: #f0f0f0 none repeat scroll 0 0;border: 1px solid #e4e4e4;float: left;padding: 8px 15px 7px 7px;width: 60%;color: #5d5d5d;font-size: 1em;}
.my-profile .search-right{float: right;}
.my-profile li{ display:inline-block;}
.my-profile ul li a.notification{float: left;color: #fff; background: #00a0e3;padding: 8%;}
.my-profile ul li a.notification:hover{background: #0a5fa2 none repeat scroll 0 0;}
.my-profile ul li a.message{float: left;margin: 20% 15% 0% 15%;}
.my-profile ul li a.request{float: left;margin: 12% 55% 0% 15%;}
.my-profile ul li a.search{float: left;margin: 21% 0% 0% 30%;}
.my-profile ul li a.profile{float: left;margin: 3% 35% 0% 49%;}
.my-profile ul li .smallbtn {padding: 11px 20px 12px 20px;float: right;border-radius: 0px;}
.my-profile ul li a{text-decoration: none;font-weight: 600;font-size: 13px;}
.home {}
.home .admin{}
.admin .admin-left{width: 23%;float: left;}
.admin .admin-left .side-left{width: 100%;float: left;height: 250px;background-color: #efefef;text-align: center;padding-top: 3%;margin-bottom: 2%;}
.admin .admin-left .side-left ul li {font-weight: bold;padding: 1% 0%;position: relative;
list-style-type: none;color: #fff;}
.admin .admin-left .side-left ul li .fa{font-size: 86px;color:#fff;}
.admin .admin-left .side-left ul li p{color:#333;}
.admin .admin-left .side-left ul li.smallbtn{padding: 8px 41px 8px 41px;
float: left;background: #338ee8 none repeat scroll 0 0;border-radius: 3px;color: #ffffff;cursor: pointer;
margin-left: 28%;font-size: 13px;margin-top: 4%;}
.admin .admin-left .side-left ul li.smallbtn:hover{background: #0088cb;}
.profile-align img{width:100px; height:100px; border-radius:50%;}
.admin .admin-left .side-left1{width: 100%;background: #e7e7e7;height: 1815px;float: left;}
.admin .admin-left .side-left1 p{color: #fff;padding: 15px 24px 8px 18px;background: #1570ca;margin-top: 0px;
font-size: 13px;}
.admin .admin-left .side-left1 .accordion_container {width: 100%;}
.admin .admin-left .side-left1 .accordion_head{background-color: #43a2ff;color: #fff;cursor: pointer;font-size: 12px;margin: 0 0 1px 0;padding: 12px 17px;font-weight: bold;}
.admin .admin-left .side-left1 .accordion_head:hover{background: #3b9af7;}
.admin .admin-left .side-left1 .plusminus {float: right;}
.admin .admin-left .side-left1 h3{color: #fff;padding: 4%;font-size: 14px;background: #2180dd;}
.admin .admin-right{width:49%; float: left; height: auto;margin-left: 3%;}
.admin .admin-right .right-side1{height: 198px;background: #f8f8f8;	padding: 5%;float: left;}
.admin .admin-right .right-side2{height: 16px;background: #fff;	padding: 2% 0;border-top: solid 1px #EBEBEB;
border-bottom: solid 1px #EEEEEE;}
.admin .admin-right .right-side2 h3{padding: 1%; background:#ddd;}


.add-post{padding: 30px;background: #f3f3f3;}
.add-post .left{width: 5%; float: left;}
.add-post .left li fa{font-size: 20px;}
.add-post .right{float: left;}
.user-name{float: left;margin-top: 28px;margin-left: 20px;}
 .userprofile .profile-align{float:left;}


.post ul li img{width:100%;}
.post ul li{border: 1px solid #dfdfdf;margin-bottom: 24px;}
.post h3{font-size: 18px; margin:10px 0px; font-family: 'Roboto', sans-serif; color:#606060;}
.date{display: block; margin:10px 0px; color: #999; font-size:12px;}
.post .actions{border-top: 1px solid #eee;margin-top: 18px;}

.post .actions .post-author {float: left;width: 40%;}
.post .actions .post-author span,.post .actions .post-options span{padding: 5%;}
.post .actions .post-options {float: right; width: 20%;}
.post-content .bottom-link{color: #686464;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	display: contents;
}
.post-content {padding: 11px 25px 40px 25px;}
.post-content .bottom-link:hover {color: #000;}
.actions .post-author span a i:fa{color: #000}

.admin .admin-rightaside{width: 22%;float: right;height: auto;margin-left: 8px;background: #f8f8f8;}
.admin .admin-rightaside .rightaside1{height: auto;background: #f8f8f8;padding: 6%;padding-top: 10%;float: left;}
.admin .admin-rightaside .rightaside1 h3{font-size: 10px;
letter-spacing: 2px;
line-height: 10px;
text-transform: uppercase;
font-weight: 700;
color: #000;
margin: 5px 0px 7px 0px;}
.admin .admin-rightaside .rightaside1 .left-icon{
width: 5px;
background: #4aa5ff;
padding: 0px;
margin: 5px 0px 0px -14px;
position: absolute;
border-right: 5px solid white;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;}

.admin .admin-rightaside .rightaside1 img{width: 100%;
height: 190px;overflow: hidden;outline: 1px solid #ccc;outline-offset: 5px;margin-top: 6%;}

.admin .admin-rightaside .rightaside1 h2{font-size: 13px;line-height: 18px;letter-spacing: 0.2px;
margin: 4px 0 10px;}
.admin .admin-rightaside .rightaside1 h2 a{color: #787878;text-decoration: none;}
.admin .admin-rightaside .rightaside1 h2 a:hover{color:#5E5E5E;}
.admin .admin-rightaside .rightaside2{width: 100%;text-align: center;}

.post-info{width: 100%;padding: 0% 0% 5% 0%;float: left;border-bottom: 1px solid #c9c9c9;}
.post-info ul li{float: left;padding: 5px;}
.post-info ul li a{display: inline-block;padding: 5px 3px;}
.post-info ul li a .fa{color:#999;font-size: 15px;}
.post-info ul li a:hover .fa{color:#41a1ff;}

 a.icon-info{display: inline-block;padding: 8px 3px;}
 a.icon-info .fa{color:#999;font-size: 15px;}
 a.icon-info:hover .fa{color:#41a1ff;}
/********PROFILE-PAGE END*************/


/******Signup-page-banner-form***begin********/
.home .banner2 .right-login {float:right;width:19%;padding: 3% 2% 2% 3%;min-height:300px;background:#fff;}
.home .banner2 .right-login .leftR h2 {color: #00a0e3;font-size:20px; letter-spacing: 2px;margin-bottom: 0;}
.home .banner2 .right-login ul li{list-style-type: none;}
.home .banner2 .right-login .input-field{background: rgba(234, 234, 234, 0.8) none repeat scroll 0 0;
    border: medium none;margin-top: 15px;padding: 11px 15px;width: 83%;}
.home .banner2 .right-login .colr {font-size: 12px;font-weight: bold;color: #636363;}
.home .banner2 .right-login .colr > input {margin: 15px 0;padding-left: 1%;}
.home .banner2 .right-login .log-btn {background: #00a0e3 none repeat scroll 0 0;color: #ffffff;font-size: 13px;font-weight: bold;padding: 8px 20px;border-radius: 3px;text-decoration: none;}
.home .banner2 .right-login .log-btn:hover{text-decoration: underline;background-color:#0065a8;}
/******Signup-page-banner-form**end*********/



/***********popup-form style*begin***************/
.pop-modal-box .popup-box{
 padding: 5px 35px 29px 93px;
height: auto;
display: inline-block;
width: 100%;
color: #00a0e3;
box-sizing: border-box;
}

.pop-modal-box .headingExm {
background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
border-bottom: 1px solid #bababa;
-webkit-box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0,0,0,.08);
-moz-box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0,0,0,.08);
box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0,0,0,.08);
-webkit-border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;
font-size: 25px;
color: #444444;
text-shadow: 0px 1px 0px #fff;
padding-left: 25%;
}

.str input[type="password"], .str input[type="text"], .str input[type="email"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 17px;
  transition: box-shadow 0.3s;
  width: 240px;
}
.str input[type="password"]:focus, .str input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

.popup-box .log-btn {
    background: #00a0e3 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 13px;
    padding: 8px 20px;
	margin: 7% 0% 0% 8%;
    border-radius: 3px;
    text-decoration: none;
	display: inline-block;
}
.popup-box .log-btn:hover{background: hsl(206, 88%, 34%) none repeat scroll 0 0;}

/***********popup-form style*end***************/

/************/
.posts{width:65%; float: left; height: auto;}
.posts .right-side1{height: 198px;background: #f8f8f8;	padding: 5%;float: left;}
.posts .right-side2{height: 16px;
background: #ededed;
padding: 11px 10px;
border-top: solid 1px #EBEBEB;
border-bottom: solid 1px #EEEEEE;}
.posts .right-side2 h3{padding: 1%; background:#ddd;}
.posts-content {
    width: 56%;
    float: right;
}
.postfig{width:40%; float:left}
.postfig img{width:100%;}


.adPost textarea{width:94%; border:1px solid #ccc; padding:3%}
.adPost input[type="button"]{float:right;}
.adPost span a{color:#383838; text-decoration: none;}
.adPost span{margin-right:20px; }
.Poastaside{width:33%; float:right;}
.Poastaside .author {
    background: #FEFEFE;
    height: 280px;
    padding: 45px 0px;
}
.Poastaside .author .author-left {
    width: 100%;
    float: left;
}
.Poastaside .author .author-left ul li {
    width: 30%;
	float: left;
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 5%;
}

.posts .right-side3 {
   position: relative;
border-bottom: 1px dotted #ccc;
padding: 10px 0px 8px 0px;
margin-bottom: 3px;
}
.add-post .left{width: 40%; float: left;}
.add-post .right{float:left;padding-top: 32px;}
.add-post .right h3 {font-size: 14px;font-weight: 400;color: #171717;}
.posts .adlinks {padding: 10px 0px;}

.posts .right-side3 .tag-info{padding: 0px 1px 1px 1px !important;height:55px;position: relative;}
.posts .right-side3 .left-info{float:left;height:auto;}
.posts .right-side3 .left-info .profile-align img {width: 42px;height: 42px;border-radius: 50%;}
.posts .right-side3 .left-info .user-name {float: left;margin-top: 0px;margin-left: 11px;color:#606060;}
.posts .right-side3 .tag-info .userprofile {padding: 4%;}


.posts .right-side3 .date-info{float:right;width:30%;height:auto;}
.posts .right-side3 .date-info .date {float: right;padding: 5% 8% 0% 0%;color: #000;color: #606060;}
.posts .posts-content {padding-top: 2%;}
.posts .posts-content h3{color: #000;}


/*****author-summary-page-styel********/
.author-summary .outer-summary .blog-article{background: #F5F5F5;height: 530px;padding: 45px 0px;}
.author-summary h2{padding: 20px 0px 9px 4px;color: #000;background: #EDEDED;font-size:32px;}
.author-summary .outer-summary{width:900px; margin: auto;}
.author-summary .outer-summary .post ul li {border: 1px solid #dfdfdf;margin-bottom: 24px;}
.author-summary .outer-summary .post ul li img {width: 100%;}
.author-summary .outer-summary .post .actions {border-top: 1px solid #eee;margin-top: 18px;}
.author-summary .outer-summary .post .actions .post-options{float: right;width: 20%;}
.author-summary .outer-summary .post .adPost textarea {width: 94%;border: 1px solid #ccc;padding: 3%;margin-top: 2%;}

.author-summary .outer-summary .post .user{}
.author-summary .outer-summary .post .user .userprofile .profile-align {float: left;}
.author-summary .outer-summary .post .user .profile-align img {width: 50px;height:50px;border-radius: 50%;}
.author-summary .outer-summary .post .user .user-name {float: left;margin-top: 5px;}

.author-summary .outer-summary .post .user .user-ping {height: 16px;background: #ededed;padding: 11px 10px;
    border-top: solid 1px #EBEBEB;border-bottom: solid 1px #EEEEEE;}

.author-summary .outer-summary .post .user .post-author a.icon-info{display: inline-block;padding: 8px 7px;}
.post-content .adlinks input[type="button"]{float: right;}
.author-summary .comment{background:#ccc; padding:1%;text-align: center;cursor: pointer;border: solid 1px #AAA;background: #EDEDED;}
.user .comment h2 {
    padding: 20px 0px 9px 4px;
    color: #000;
    background: #EDEDED;
    font-size: 18px;
}

/**********************login form****************************************/



.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.form ul li{
width:48%;
float:left;
margin-right:2%;
}
.form ul li:nth-child(2n){margin-right:0;}